<div class="row mt-5 container justify-content-center">
    <div class="col">
      <h2 class="row justify-content-center">Ver listado de citas</h2>
      <hr />
  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dia</th>
            <th scope="col">Horario Inicio</th>
            <th scope="col">Horario Fin</th>
            <th scope="col">Fecha</th>
            <th scope="col">Paciente</th>
          </tr>
        </thead>
        <tbody *ngFor="let appoint of appointment">
          <tr>
            <th scope="row">1</th>
            <td>{{ appoint.dia }}</td>
            <td>{{ appoint.horaInicio }}</td>
            <td>{{ appoint.horaFin }}</td>
            <td>{{ appoint.fechaVisita }}</td>
            <td>{{ appoint.nombrePaciente}}</td>
          </tr>
        </tbody>
        <br />
        <button type="button" class="btn btn-primary" routerLink="/dashboard" >
          Regresar
        </button>
      </table>
    </div>
  </div>
  