<div class="row mt-5 container justify-content-center">
  <br>
    <div class="col">
      <h2 class="row justify-content-center">Mostrar citas de cada medicos</h2>
      <hr />

      <form autocomplete="off" [formGroup]="formAppointmentToday" (ngSubmit)="getAppointment()">
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Seleccione el medico</label>
           <div class="col-sm-3">
             <select class="form-select" aria-label="Default select example" formControlName="idMedico" >
               <option value="undefined" disabled selected > Seleccione al medico</option>
               <option *ngFor="let data of userData" [value]="data.idUsuario">{{data.nombre}}</option>
             </select>
           </div>
           <div class="col-sm-1">
            <button type="submit"
            class="btn btn-primary float-end" [disabled]="formAppointmentToday.invalid">
               Buscar
            </button>
           </div>
           <div class="col-sm-1">
            <button type="button" class="btn btn-primary" routerLink="/dashboard">
              Regresar
            </button>
           </div>
        </div>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Paciente</th>
            <th scope="col">Dia</th>
            <th scope="col">Horario Inicio</th>
            <th scope="col">Horario Fin</th>
            <th scope="col">Fecha de la visita</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of appointmentData">
            <th scope="row">{{data.id}}</th>
            <th scope="row">{{data.nombrePaciente}}</th>
            <th scope="row">{{data.dia}}</th>
            <th scope="row">{{data.horaInicio}}</th>
            <th scope="row">{{data.horaFin}}</th>
            <th scope="row">{{data.fechaVisita }}</th>
          </tr>
        </tbody>
        <br />
        
      </table>
    </div>
  </div>